<nav>
    <a href="/food/">food</a>
    <a href="/food/">craft</a>
    <a href="/food/">home</a>
    <a href="/food/">plants</a>
    <a href="/food/">stories</a>
    <a href="/festivals/">festivals</a>
</nav>